{% extends 'base/adbase.html' %}

{% block title %}AHRI - 添加文章{% endblock %}

{% block head %}
    <style>
        .w-e-text-container{
            height: 700px !important;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container-fluid" style="z-index: 10"><br>
        <div class="row" style="margin-left: 220px;margin-right: 10px">
            <div class="col-xs-12 form-group">
                <label  for="cate">分类</label>
                <select id="cate" class="form-control">
                    {% for c in cate %}
                    <option value="{{ c.id }}">{{ c.cate_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <div class="col-xs-12 form-group">
                <label for="name">文章名</label>
                <input id="name" class="form-control" type="text" placeholder="Name">
            </div>
            <br>
            <div class="col-xs-12 form-group">
                <label for="desc">描述</label>
                <textarea id="desc" class="form-control"></textarea>
            </div>
            <br>
            <div class="col-xs-12">
                <div id="editor">

                </div>
            </div>
            <div class="col-xs-12"><br>
                <button class="btn btn-success" style="float: right;font-size: 20px" onclick="save()">提 交</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#editor');
        editor.customConfig.uploadImgServer = '/static/';
        editor.customConfig.uploadFileName = 'FileName';
        // editor.customConfig.uploadImgParams = {
        //     csrfmiddlewaretoken: document.getElementById('csrf_token').value
        // };
        editor.create();
        function save() {
            $.post('/add_art/',{
                cate_id: $('#cate').val(),
                art_name: $('#name').val(),
                describe: $('#desc').val(),
                content: editor.txt.html(),
            }, function(data) {
                if(data == 'ok'){
                    alert('提交成功');
                    a('article');
                }else{
                    alert('提交失败');
                }
            });
        }
    </script>
{% endblock %}