<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='ahri2.ico') }}" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adbase.css') }}">
    <script src="{{ url_for('static', filename='wang/wangEditor.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='wang/wangEditor.min.css') }}">

    <style>
        table,table tr th, table tr td { border:1px solid #aaa; }
        table { width: 200px; min-height: 25px; line-height: 25px; border-collapse: collapse;}
    </style>
</head>
<body>
    <div class="main">

    </div>
    <script>
        $(function(){
            $.post("/sys_info/",function(data){
                $('.main').html(data);
            });
        });
        function a(val) {
            $.get("/" + val + "/",function(data){
                $('.main').html(data);
            });
        }
    </script>
</body>
</html>