<div class="col-xs-12 list" id="cate_tit">
    <h1>{{ cate.cate_name }}</h1>
</div>
{% for art in articles %}
<div class="col-xs-12">
    <div class="next"><img class="more" src="{{ url_for('static', filename='images/next.png') }}" alt=""></div>
</div>
<div class="col-xs-12 list">
    <div>
        {% for user in users %}
            {% if user.id == art.author %}
            <div><a class="art-list" href="#">{{ art.art_name }} by {{ user.username }}</a></div>
            {% endif %}
        {% endfor %}
        <span>{{ art.describe }}</span><br>
        <span>{{ art.time|time }}</span>
    </div>
</div>
{% endfor %}
<div class="col-xs-12">
    <div class="next"><img class="more" src="{{ url_for('static', filename='images/next.png') }}" alt=""></div>
</div>
<div class="col-xs-12 list">
    <h3>待 续 . . .</h3>
</div>